n8n-workflows/config-phone-workflow.json
{
  "name": "Config Phone Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2b091cb3-0f71-4f23-b4de-e5456b1e0a36",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [320, 240],
      "id": "phone-webhook",
      "name": "Config Phone Webhook",
      "webhookId": "2b091cb3-0f71-4f23-b4de-e5456b1e0a36"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-phone-valid",
              "leftValue": "={{ $json.body.phoneNumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [540, 240],
      "id": "validate-phone",
      "name": "Validate Phone"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const configDate = item.json.body.configDate || \"\";\n  const dateObj = new Date(configDate);\n  item.json.formattedDate = dateObj.toLocaleDateString('ar-EG');\n  item.json.formattedTime = dateObj.toLocaleTimeString('ar-EG', { hour: '2-digit', minute: '2-digit' });\n  item.json.dateOnly = configDate.substring(0, 10);\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 140],
      "id": "format-date-phone",
      "name": "Format Date"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"message\": \"توجيه جديد ✅    الطالب: {{ $('Config Phone Webhook').item.json.body.studentName }}    الموظف: {{ $('Config Phone Webhook').item.json.body.employeeName }}    رقم الهاتف: {{ $('Config Phone Webhook').item.json.body.phoneNumber }}    التاريخ: {{ $json.formattedDate }}    الوقت: {{ $json.formattedTime }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [980, 140],
      "id": "prepare-phone-message",
      "name": "Prepare WhatsApp Message"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  let val = item.json.message || \"\";\n  val = val.replace(/ {4}/g, \"\\n\");\n  item.json.formattedMessage = val;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 140],
      "id": "format-phone-message",
      "name": "Format Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WASSENGER_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Token", "value": "={{ $env.WASSENGER_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "group", "value": "={{ $env.WASSENGER_GROUP_ID }}" },
            { "name": "message", "value": "={{ $json.formattedMessage }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 140],
      "id": "send-whatsapp-phone",
      "name": "Send WhatsApp to Group"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "الطالب": "={{ $('Config Phone Webhook').item.json.body.studentName }}",
            "الموظف": "={{ $('Config Phone Webhook').item.json.body.employeeName }}",
            "رقم الهاتف": "={{ $('Config Phone Webhook').item.json.body.phoneNumber }}",
            "التاريخ": "={{ $('Format Date').item.json.dateOnly }}",
            "وقت الإنشاء": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1640, 140],
      "id": "save-to-sheets",
      "name": "Save to Google Sheets"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"sendmessage\": \"true\", \"textdata\": \"تم حفظ رقم الهاتف بنجاح\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1860, 140],
      "id": "respond-phone-success",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"sendmessage\": \"errorvalue\", \"textdata\": \"رقم الهاتف غير صالح\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 340],
      "id": "respond-phone-error",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Config Phone Webhook": {
      "main": [[{ "node": "Validate Phone", "type": "main", "index": 0 }]]
    },
    "Validate Phone": {
      "main": [
        [{ "node": "Format Date", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Format Date": {
      "main": [[{ "node": "Prepare WhatsApp Message", "type": "main", "index": 0 }]]
    },
    "Prepare WhatsApp Message": {
      "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]]
    },
    "Format Message": {
      "main": [[{ "node": "Send WhatsApp to Group", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp to Group": {
      "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Save to Google Sheets": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}

